{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $.ajax({
        url: "/movie/list/",
        type: "GET",
        dataType: "json",
    }).done(function (data) {
        $.each(data, function (index, value) {
            var html = '';
            html += '<div class="item ' + (index == 0 ? '' : 'active') + '">';
            html += '   <div class="div-left">';
            html += '       <p> ' + value.fields.description + '<p/>';
            html += '       <p> Release date: ' + value.fields.release_date + '<br/>';
            html += '           Director: ' + value.fields.director + '<br/>';
            html += '           Screenplay: ' + value.fields.screenplay + '<br/>';
            html += '           Music composed by: ' + value.fields.composer + '<br/>';
            html += '           Producers: ' + JSON.parse(value.fields.producers) + '</p>';
            html += '  </div>';
            html += '   <div class="ticket-card" data-opentext="Timetable1 > Order" data-closetext="Close">';
            html += '       <div class="cover">';
            html += '           <div class="img">';
            html += '               <img src="static/images/' + value.fields.img + '" alt="">';
            html += '               <span class="movie-rate">' + value.fields.category + '</span>';
            html += '           </div>';
            html += '           <div class="info">';
            html += '               <div class="going">';
            html += '                   <i class="fa fa-clock-o" title="Period"></i>' + value.fields.runtime + 'm';
            html += '               </div>';
            html += '           </div>';
            html += '       </div>';
            html += '       <div class="body">';
            html += '           <div class="artist">';
            html += '               <h6 class="info">' + JSON.parse(value.fields.genre) + '</h6>';
            html += '               <a class="name" href="#">';
            html += '                   <h4>' + value.fields.title + '</h4>';
            html += '               </a>';
            html += '           </div>';
            html += '           <div class="clearfix"></div>';
            html += '           <div class="info info-branch">';
            html += '               <p class="location">';
            html += '                   <i class="fa fa-map-marker" title="Branches"></i>';
            html += '                   <span class="LA">Hall - 1</span>';
            html += '               </p>';
            html += '           </div>';
            html += '           <div class="clearfix"></div>';
            html += '       </div>';
            html += '       <div id="'+value.pk+'" class="schedule timelist collapse" aria-expanded="false">' +
                            '</div>';
            html += '       <div class="footer">';
            html += '           <button id="'+value.pk+'" class="btn toggle-tickets">Order</button>';
            html += '       </div>';
            html += '   </div>';
            html += '   <div class="div-right">';
            html += '       <h1>Official trailer</h1>';
            html += '       <iframe src="' + value.fields.yurl + '" frameborder="0" allowfullscreen>';
            html += '       </iframe>';
            html += '   </div>';
            html += '</div>';
            $("#movies").append(html);
        });

         document.getElementById('prevBtn').click();
// {#        $(".lSAction>a").on("click", function(){#}
// {#            $(".schedule").html("");#}
// {#        });#}
        $(".footer>button").on("click", function(){

            var movieID = this.id;
            $("#orderrow").removeClass("hidden");
            $.ajax({
                type: "GET",
                dataType : 'json',
                url: '/screening/movie/'+movieID+'/',
                success: function (data){
                    var html = '<select id="screentimes" class="form-control">';

                    html += '<option value="">select time</option>';
                    for (var x = 0; x < data.length; x++) {
                        html += '<option value="' + data[x].pk + '">' + data[x].fields.stime + '</option>';
                    }
                    html += '</select>';
                    $('#movielist').html(html);
                },
                failure: function() {alert("Error!");}
            });

// {#            if(clicked.html()  == "Order" ){#}
// {#                clicked.html("Close");#}
// {#                $(".schedule").addClass("in");#}
// {#                 $.ajax({#}
// {#                    url: "/screening/movie/" + this.id,#}
// {#                    type: "GET",#}
// {#                    dataType: "json",#}
// {#                }).done(function (data) {#}
// {#                    var timetable = $(".schedule");#}
// {#                    timetable.html("");#}
// {#                    $.each(data, function (index, value) {#}
// {#                        var html = '<div><a href="#order">'+value.fields.stime+'</a></div>';#}
// {#                        timetable.append(html);#}
// {#                    });#}
// {#                 });#}
// {#            }#}
// {#            else {#}
// {#                 clicked.html("Order");#}
// {#                 $(".schedule").removeClass("in");#}
// {#            }#}
        });
    });


    $('.carousel-inner .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        } else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
    $(document).ready(function () {
    });


</script>

<div class="row">
    <div id="Carousel" class="carousel slide multi-item-carousel">
        <!-- Carousel items -->
        <div id="movies" class="carousel-inner">
        </div><!--.carousel-inner-->
        <div class="lSAction">
            <a id="prevBtn" data-slide="prev" href="#Carousel" class="left carousel-control"></a>
            <a id="nextBtn" data-slide="next" href="#Carousel" class="right carousel-control"></a>
        </div>
    </div><!--.Carousel-->
</div>
