{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $.ajax({
        url: "/movie/list/",
        type: "GET",
        dataType: "json",
    }).done(function(data) {
        $.each(data, function( index, value ) {
{#            localStorage.setItem(value.accountNo, (value.accountNo + " | " + value.name + " | " + value.type));#}
             var html = '';
             html += '<div class="item ' + (index == 0 ? '' : 'active') + '">';
             html += '   <div class="div-left">';
             html += '       <p> Luke Skywalker\'s peaceful and solitary existence gets upended when he meets Rey, a young woman who shows strong signs of the Force.<p/>';
             html += '       <p> Release date: December 15, 2017 (USA)<br/>';
             html += '           Director: Rian Johnson<br/>';
             html += '           Screenplay: Rian Johnson<br/>';
             html += '           Music composed by: John Williams<br/>';
             html += '           Producers: Kathleen Kennedy, Lawrence Kasdan, Ram Bergman, Simon Kinberg</p>';
             html += '  </div>';
             html += '   <div class="ticket-card" data-opentext="Timetable1 > Order" data-closetext="Close">';
             html += '       <div class="cover">';
             html += '           <div class="img">';
             html += '               <img src="static/images/' + value.fields.img + '" alt="">';
             html += '               <span class="movie-rate">'+value.fields.category+'</span>';
             html += '           </div>';
             html += '           <div class="info">';
             html += '               <div class="going">';
             html += '                   <i class="fa fa-clock-o" title="Period"></i>'+value.fields.runtime + 'm';
             html += '               </div>';
             html += '           </div>';
             html += '       </div>';
             html += '       <div class="body">';
             html += '           <div class="artist">';
             html += '               <h6 class="info">'+value.fields.genre+'</h6>';
             html += '               <a class="name" href="#">';
             html += '                   <h4>'+value.fields.title+'</h4>';
             html += '               </a>';
             html += '           </div>';
             html += '           <div class="clearfix"></div>';
             html += '           <div class="info info-branch">';
             html += '               <p class="location">';
             html += '                   <i class="fa fa-map-marker" title="Branches"></i>';
             html += '                   <span class="LA">Los Angeles</span>';
             html += '                   <span class="CH">Chicago</span>';
             html += '                   <span class="SF">San Francisco</span>';
             html += '                   <span class="FR">Fairfield</span>';
             html += '               </p>';
             html += '           </div>';
             html += '           <div class="clearfix"></div>';
             html += '       </div>';
             html += '       <div class="collapse timelist"></div>';
             html += '       <div class="footer">';
             html += '           <button class="btn toggle-tickets">Order</button>';
             html += '       </div>';
             html += '   </div>';
             html += '   <div class="div-right">';
             html += '       <h1>Official trailer</h1>';
             html += '       <iframe src="'+value.fields.yurl+'" frameborder="0" allowfullscreen>';
             html += '       </iframe>';
             html += '   </div>';
            html += '</div>';
            $("#movies").append(html);
        });
    });
    $('.carousel-inner .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        } else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });

    $("#website-carousel-container").carousel();

    $(document).ready(function () {
        $('#Carousel').carousel({
            interval: false
        });
    });
</script>

<div class="row">
    <div id="Carousel" class="carousel slide multi-item-carousel">
        <!-- Carousel items -->
        <div id="movies" class="carousel-inner">
{#            <div class="item active">#}
{#                <div class="div-left">#}
{#                    <p> Luke Skywalker's peaceful and solitary existence gets upended when he meets Rey,#}
{#                        a young woman who shows strong signs of the Force.<p/>#}
{#                    <p> Release date: December 15, 2017 (USA)<br/>#}
{#                        Director: Rian Johnson<br/>#}
{#                        Screenplay: Rian Johnson<br/>#}
{#                        Music composed by: John Williams<br/>#}
{#                        Producers: Kathleen Kennedy, Lawrence Kasdan, Ram Bergman, Simon Kinberg</p>#}
{#                </div>#}
{#                <div class="ticket-card" data-opentext="Timetable1 > Order" data-closetext="Хаах">#}
{#                    <div class="cover">#}
{#                        <div class="img">#}
{#                            <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                            <span class="movie-rate">PG</span>#}
{#                        </div>#}
{#                        <div class="info">#}
{#                            <div class="going">#}
{#                                <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="body">#}
{#                        <div class="artist">#}
{#                            <h6 class="info">Action</h6>#}
{#                            <a class="name" href="#">#}
{#                                <h4>Star Wars</h4>#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="clearfix"></div>#}
{#                        <div class="info info-branch">#}
{#                            <p class="location">#}
{#                                <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                <span class="LA">Los Angeles</span>#}
{#                                <span class="CH">Chicago</span>#}
{#                                <span class="SF">San Francisco</span>#}
{#                                <span class="FR">Fairfield</span>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                    <div class="collapse timelist"></div>#}
{#                    <div class="footer">#}
{#                        <button class="btn toggle-tickets">Order</button>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="div-right">#}
{#                    <h1>Official trailer</h1>#}
{#                    <iframe src="https://www.youtube.com/embed/fci_BFrsIz8" frameborder="0"#}
{#                        allowfullscreen>#}
{#                    </iframe>#}
{#                </div>#}
{#            </div><!--.item-->#}
        </div><!--.carousel-inner-->
        <div class="lSAction">
            <a data-slide="prev" href="#Carousel" class="left carousel-control"></a>
            <a data-slide="next" href="#Carousel" class="right carousel-control"></a>
        </div>
    </div><!--.Carousel-->
</div>

{#<div class="row">#}
{#    <div class="coll">#}
{#        <div id="Carousel" class="lSSlideOuter carousel slide">#}
{#            <ul id="content-slider " class="lightSlider lSSlide carousel-inner"#}
{#                style="width: 5550px; transform: translate3d(-2220px, 0px, 0px); height: 720px; padding-bottom: 0%;">#}
{#                <div class="item active">#}
{#                    <li class="clone left" style="margin-right: 20px;">#}
{#                        <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        </div>#}
{#                    </li>#}
{#                </div>#}
{#                <li class="clone left item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{##}
{#                    </div>#}
{#                </li>#}
{#                <li class="clone left item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                    </div>#}
{#                </li>#}
{#                <li class="clone left item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                    </div>#}
{#                </li>#}
{#                <li class="lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class=" lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="lslide item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                        <div class="cover">#}
{#                            <div class="img">#}
{#                                <img src="/static/images/about/star-wars.jfif" alt="">#}
{#                                <a href="https://www.youtube.com/watch?v=6Nxc-3WpMbg" class="trailer fancybox-media"#}
{#                                   onclick="gatr('Star Wars')" rel="media-gallery"></a>#}
{#                                <span class="movie-rate">PG</span>#}
{#                            </div>#}
{#                            <div class="info">#}
{#                                <div class="going">#}
{#                                    <i class="fa fa-clock-o" title="Period"></i> 2h 21m#}
{#                                </div>#}
{#                                <div class="tickets-left">#}
{#                                    <a href="#">Details</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="body">#}
{#                            <div class="artist">#}
{#                                <h6 class="info">Action</h6>#}
{#                                <a class="name" href="#">#}
{#                                    <h4>Star Wars</h4>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                            <div class="info info-branch">#}
{#                                <p class="location">#}
{#                                    <i class="fa fa-map-marker" title="Branches"></i>#}
{#                                        <span class="LA">Los Angeles</span>#}
{#                                        <span class="CH">Chicago</span>#}
{#                                        <span class="SF">San Francisco</span>#}
{#                                        <span class="FR">Fairfield</span>#}
{#                                </p>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}
{#                        </div>#}
{#                        <div class="collapse timelist"></div>#}
{#                        <div class="footer">#}
{#                            <button class="btn toggle-tickets">Timetable &gt; Order</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="clone right item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                    </div>#}
{#                </li>#}
{#                <li class="clone right item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                    </div>#}
{#                </li>#}
{#                <li class="clone right item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                    </div>#}
{#                </li>#}
{#                <li class="clone right item" style="margin-right: 20px;">#}
{#                    <div class="ticket-card" data-opentext="Timetable > Order" data-closetext="Хаах">#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#            <div class="lSAction">#}
{#                <a data-slide="prev" href="#Carousel" class="lSPrev"></a>#}
{#                <a data-slide="next" href="#Carousel" class="lSNext"></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
