{% load static %}


<meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script type="text/javascript">

$(document).on('click', '.number-spinner button', function () {
	var btn = $(this),
		oldValue = btn.closest('.number-spinner').find('input').val().trim(),
		newVal = 0;

	if (btn.attr('data-dir') == 'up') {
		newVal = parseInt(oldValue) + 1;
	} else {
		if (oldValue > 1) {
			newVal = parseInt(oldValue) - 1;
		} else {
			newVal = 1;
		}
	}
	btn.closest('.number-spinner').find('input').val(newVal);
});


sel_seats=0;

function generate_table1(seats)
{

  // get the reference for the body
  //<!--var body = document.getElementsByTagName("body")[0];
  document.getElementById("btn").disabled = true;
  // creates a <table> element and a <tbody> element

    var tbl = document.createElement("table");
	var tblBody = document.createElement("tbody");

  document.getElementById("seata").appendChild(tbl);
  // creating all cells

  for (var i = 0; i < seats.length; i++) {
    // creates a table row
    var row = document.createElement("tr");

    for (var j = 0; j < seats[i].length; j++) {
      // Create a <td> element and a text node, make the text
      // node the contents of the <td>, and put the <td> at
      // the end of the table row
      var cell = document.createElement("td");
      var cellText = document.createTextNode("cell");

	  var image = document.createElement('img');
	  if (seats[i][j]==0)
          {image.src = "../static/images/free.jpg";}
	  else
	      {image.src = "../static/images/booked.jpg";}

	  image.id="s"+i+","+j;

	  image.onclick=function(){
		  changeImage(this,image.id);
		  };

      cell.appendChild(image);

      row.appendChild(cell);
    }

    // add the row to the end of the table body
    tblBody.appendChild(row);
	}


  tbl.appendChild(tblBody);
  // appends <table> into <body>

  // sets the border attribute of tbl to 2;
  tbl.setAttribute("border", "2");
  //document.getElementById("btn").value="Reset";
}

function generate_booked()
{

   for (var i = 0; i < seats.length; i++) {
        for (var j = 0; j < seats[i].length; j++)
        {

         if (seats[i][j]==2)
         {
             sel_seats=sel_seats+1;
             seats[i][j]=1;
         }
     }
   }
   return seats;
}

function changeImage(x,imgId)
{
element=document.getElementById(x.id);

 if (document.getElementById("nstext").value>=0)
 {
if (element.src.match("seat"))
  {
	   var cnt=0;

       element.src="../static/images/free.jpg";
	   var cntr=document.getElementById("nstext").value;
	   document.getElementById("nstext").value = parseInt(cntr)+1;
    }
else
  {

  if (document.getElementById("nstext").value>0 && !element.src.match("booked"))
  {
       var rw=x.id.substring(1,x.id.indexOf(","));
	   var cl=x.id.substring(x.id.indexOf(",")+1,x.id.length);

	   //document.write("Hello "+"row="+rw+"col="+cl);

	  seats[rw][cl]=2;

	  document.getElementById("nstext").value = document.getElementById("nstext").value-1;
      element.src="../static/images/seat.jpg";
   }
  }
}
}
//}
</script>



<div class="hidden" id="orderrow">

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div id="movielist" class="form-group">
            </div>
            <div class="form-group">
              <input type="text" id="nstext" class="form-control text-center" value="1">
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div id="seata"> </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Payment</button>
        </div>
    </div>

</div>


 <div class="row">

       <!--<button type="button" onclick="generate_table()" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Seats</button>-->


   <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" id="closemodal" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Payment Window</h4>
         </div>
         <div class="modal-body">

             <form id="myform" class="" action="">{% csrf_token %}
                 <div class="form-group">
                     <label for="email">Email</label>
                     <input required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" type="text" class="form-control" id="email" placeholder="name@example.com">
                 </div>
                 <div class="form-group">
                     <label for="cardnum">Card Number</label>
                     <input required type="text" class="form-control" id="cardnum" placeholder="1234-1234-1234-1234">
                 </div>

                 <div class="form-group">
                     <label for="startdate">Start Date</label>
                     <input required type="date" class="form-control" id="startdate" max="2050-12-31" placeholder="1999-09-11">
                 </div>
                 <div class="form-group">
                     <label for="expdate">Expiration Date</label>
                     <input required type="date" class="form-control" id="expdate" placeholder="2010-01-01">
                 </div>

                   <button id="formBtn" class="btn btn-primary" type="submit" name="button">Pay</button>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
             </form>
         </div>

       </div>
     </div>
   </div>
 </div>


 <script type="text/javascript">

 $(document).on('change', '#screentimes', function() {
     scrpk = this.value;
     console.log("onchange");

     $.ajax({
         type: "GET",
         dataType : 'json',
         url: '/screening/'+scrpk+'/',
         success: function (data){
             screenData = data[0];
             seats = convert(JSON.parse(screenData.fields.seats));
             console.log(seats);
             $('#seata').html('');
             generate_table(seats);

             //document.write("where");
         },
         failure: function() {alert("Error!");}
     });
 });


convert = function(data){
     returndata = [];
    for (var i = 0; i < data.length; i++) {
        mydata = data[i].replace(/["]/g, '');
        mydata = mydata.replace('[', '');
        mydata = mydata.replace(']', '');
        ret = mydata.split(', ').map(Number);
        returndata.push(ret);
  	}
    return returndata;
 }

function generate_table(seats)
{

    var tbl = document.createElement("table");
	var tblBody = document.createElement("tbody");

  document.getElementById("seata").appendChild(tbl);
  // creating all cells

  for (var i = 0; i < seats.length; i++) {
    // creates a table row
    var row = document.createElement("tr");

    for (var j = 0; j < seats[i].length; j++) {
      //document.write(seats[i][j]);
      var cell = document.createElement("td");
      var cellText = document.createTextNode("cell");

	  var image = document.createElement('img');
	  if (seats[i][j]==0)
          {image.src = "../static/images/free.jpg";}
	  else
	      {image.src = "../static/images/booked.jpg";}

	  image.id="s"+i+","+j;

	  image.onclick=function(){
		  changeImage(this,image.id);
		  };

      cell.appendChild(image);

      row.appendChild(cell);
    }

    // add the row to the end of the table body
    tblBody.appendChild(row);
	}
  tbl.appendChild(tblBody);

  tbl.setAttribute("border", "2");
  //document.getElementById("btn").value="Reset";
}

 $(document).on('click','.mybuttons', function(){
     var hall = $(this).attr('hall');
     var sdate = $(this).attr('sdate');
     var stime = $(this).attr('stime');
     var seats = $(this).attr('seats');
     $('#timelist').html(
     );
     console.log(datas);
 });
 //
 // $(document).on('click','#formBtn', function(){
 // });

 jQuery(document).ready(function($) {
         var form = $('#myform');
         form.submit(function(e){
             e.preventDefault();
             var email = $("#email").val();
             var cardnum = $("#cardnum").val();
             var startdate = $("#startdate").val();
             var expdate = $("#expdate").val();
             var userseat = seats;
             sendseats = generate_booked();
             var total = sel_seats;
             var screening_id = '';

             var token = $("input[name~='csrfmiddlewaretoken']").first().val();
             $.ajax({
                 type: 'POST',
                 url: '/payment/pay/',
                 data: {
                     'screening_id': scrpk,
                     'csrfmiddlewaretoken': token,
                     'email': email,
                     'cardnum': cardnum,
                     'startdate': startdate,
                     'expdate': expdate,
                     'seats': JSON.stringify(sendseats),
                     'userseats': JSON.stringify(userseat),
                     'total_seats': total,

                 },
                 dataType: "json",
                 success: function(resultData) {
                     console.log('****resultData: ', resultData);
                 }
             });
             $('#closemodal').click();
             $('body').removeClass('modal-open');
             location.reload();
         });
 });
 </script>
