{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="row">


      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Payment Window</h4>
        </div>
        <div class="modal-body">

            <form id="myform" class="" action="">{% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" type="text" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="cardnum">Card Number</label>
                    <input required type="text" class="form-control" id="cardnum" placeholder="1234-1234-1234-1234">
                </div>

                <div class="form-group">
                    <label for="startdate">Start Date</label>
                    <input required type="date" class="form-control" id="startdate" max="2050-12-31" placeholder="1999-09-11">
                </div>
                <div class="form-group">
                    <label for="expdate">Expiration Date</label>
                    <input required type="date" class="form-control" id="expdate" placeholder="2010-01-01">
                </div>



                  <button id="formBtn" class="btn btn-primary" type="submit" name="button">Create New Account</button>
            </form>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>




<div class="row" id="movielist">


</div>

<div class="row" id="timelist">

</div>




<script type="text/javascript">

jQuery(document).ready(function($) {
    $.ajax({
        type: "GET",
        dataType : 'json',
        url: '/screening/list/',
        success: function (data){

            var html = ''
            for (var i = 0, len = 6; i < len; i++) {
                var td = '<div class="two columns"><button hall="'+data[i].fields.hall+'" sdate="'+ data[i].fields.sdate+'" stime="'+ data[i].fields.stime +'" class="btn mybuttons">' + data[i].fields.movie + '</button></div>';
                html += td;
            }
            html += '';
            $('#movielist').html(html);
        },
        failure: function() {alert("Error!");}
    });
});


$(document).on('click','.mybuttons', function(){
    var hall = $(this).attr('hall');
    var sdate = $(this).attr('sdate');
    var stime = $(this).attr('stime');
    var seats = $(this).attr('seats');

    $('#timelist').html(

    );

    console.log(datas);

});


jQuery(document).ready(function($) {


        var form = $('#myform');
        form.submit(function(e){
            e.preventDefault();

            var email = $("#email").val();
            var cardnum = $("#cardnum").val();
            var startdate = $("#startdate").val();
            var expdate = $("#expdate").val();
            var token = $("input[name~='csrfmiddlewaretoken']").first().val();

            $.ajax({
                type: 'POST',
                url: '/payment/pay/',
                data: {
                    'csrfmiddlewaretoken': token,
                    'email': email,
                    'cardnum': cardnum,
                    'startdate': startdate,
                    'expdate': expdate,
                },
                dataType: "json",
                success: function(resultData) {
                    alert("Save Complete")
                }
            });
        });

});



</script>
